/* animations.css */
@keyframes counting {
    0% {
        transform: scale(0);
        opacity: 0;
        /*불투명하게 만들기 */
    }
    /*50% {*/
    /*    transform: scale(0.5);*/
    /*    opacity: 0.5;*/
    /*}*/
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
