.pos {
    font-weight: bold;
}

.word{
    padding: 0.6rem;
}

.sentence .highlight:after{
    width:100%;
}
.highlight{
    display: inline-block;
    position: relative;
}
.highlight:after{
    content:"";
    width: 0;
    height: 10px;
    display: inline-block;
    background: var(--bg-color);
    position: absolute;
    bottom:0;
    left:0;
    z-index:-1;
    transition: 0.2s all;
    border-radius:5px;
}
